body{
	margin:0;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 100;

}
h2{
	font-size: 48px;
	border-bottom: 3px solid black;
    padding-bottom: 0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 100;
}
#model{
	width:640px;
	height:480px;
	/*border: 1px solid #eee;*/
	position: fixed;
	right: calc(50% - 540px);
	top: 100px;
}
#words{
	width:420px;
	padding-right: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	position: absolute;
	right: calc(50% + 100px);

	text-align: justify;
}